---
import logo from "../opentronika_tools/assets/opentronika.png";

const seoconfig = {
  title: 'Byte Analyzer',
  description: 'Byte Analyzer is a tool to visualize and edit byte values, showing their representation in hexadecimal, binary, and various data types (e.g., uint8, uint16, int8, int16, int32, int64, etc). Easily convert and inspect how a value is interpreted in different formats.',
  url: 'https://opentronika.org/byte_analyzer/',
  keywords: 'byte analyzer, hex editor, binary viewer, uint8, uint16, int8, int16, int32, int64, signed, unsigned, online tool, code generator',
  logo: logo,
  author: 'Lut Garu'
}

const websiteSchema = `
    {
        "@context": "https://schema.org",
        "@type": ["SoftwareApplication","WebApplication"],
        "name": "${seoconfig.title}",
        "description": "${seoconfig.description}",
        "url": "${seoconfig.url}",
        "applicationCategory": "UtilitiesApplication",
        "abstract": "Byte Analyzer is a tool to visualize and edit byte values, showing their representation in hexadecimal, binary, and various data types.",
        "author": "${seoconfig.author}",
        "operatingSystem": "all",
        "image": "https://raw.githubusercontent.com/lutgaru/byte_analyzer/master/Screenshot.png",
        "offers": {
          "@type": "Offer",
          "price": "0",
          "priceCurrency": "USD"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "ratingCount": "8864"
        },
        "featureList": [
          "View and edit byte values",
          "See values in hexadecimal and binary",
          "Instantly convert between signed and unsigned types (int8, uint8, int16, uint16, int32, uint32, int64, uint64)",
          "Responsive UI built with Vue.js, Astro, and Tailwind CSS"
        ]
    }
`
---

<title>{seoconfig.title}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="theme-color" content="#1D1A1D" />
<meta name="description" content={seoconfig.description} />
<meta name="author" content={seoconfig.author} />
<meta name="robots" content="index, follow">
<meta name="keywords" content={seoconfig.keywords} />
<meta charset="UTF-8" />
<meta name="generator" content={Astro.generator} />
<meta property="og:title" content={seoconfig.title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={seoconfig.url} />
<meta property="og:image" content={seoconfig.url + seoconfig.logo} />
<meta property="og:description" content={seoconfig.description} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={seoconfig.title} />
<meta name="twitter:description" content={seoconfig.description} />
<meta name="twitter:image:src" content={seoconfig.url + seoconfig.logo} />

<link rel="icon" type="image/svg+xml" href={seoconfig.logo.src} />

<script type="application/ld+json" set:html={websiteSchema} />